body {
    margin: 0;
    padding: 0;
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 70%;
    margin: auto;
    padding: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.form-box {
    background: #1e293b;
    padding: 30px;
    border-radius: 12px;
}

label {
    display: block;
    margin-top: 15px;
}

select,
input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    background: #38bdf8;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

.result-box {
    margin-top: 40px;
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
}

img {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}